[defaults]
# Specify roles path relative to this ansible.cfg
roles_path = ./roles

# Vault password file
vault_password_file = ../.vault_password

# Inventory
inventory = ./inventory/hosts.yml

# Host key checking
host_key_checking = False
